[Unit]
Description=Floodgate Worker
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/floodgate-worker.sh
Environment="PYTHONPATH=$PYTHONPATH:/home/watergate/.local/lib/python3.9/site-packages"
WatchdogSec=600
Restart=always

[Install]
WantedBy=multi-user.target
